[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
ipdb = "*"
flask = "*"
flask-sqlalchemy = "*"
Werkzeug = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
faker = "*"
flask-bcrypt = "*"
gunicorn = "20.1.0"
honcho = "1.1.0"

[requires]
python_full_version = "3.8.13"